[submodule "vim/.vim/pack/theme/start/vim-airline"]
	path = vim/.vim/pack/theme/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "vim/.vim/pack/theme/start/vim-airline-themes"]
	path = vim/.vim/pack/theme/start/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "vim/.vim/pack/theme/start/vim-devicons"]
	path = vim/.vim/pack/theme/start/vim-devicons
	url = https://github.com/ryanoasis/vim-devicons.git
[submodule "vim/.vim/pack/theme/start/vim-code-dark"]
	path = vim/.vim/pack/theme/start/vim-code-dark
	url = https://github.com/tomasiser/vim-code-dark.git
[submodule "vim/.vim/pack/utility/start/nerdtree"]
	path = vim/.vim/pack/utility/start/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule "vim/.vim/pack/utility/start/tagbar"]
	path = vim/.vim/pack/utility/start/tagbar
	url = https://github.com/preservim/tagbar.git
[submodule "vim/.vim/pack/ide/start/ale"]
	path = vim/.vim/pack/ide/start/ale
	url = https://github.com/dense-analysis/ale.git
[submodule "vim/.vim/pack/ide/start/jedi-vim"]
	path = vim/.vim/pack/ide/start/jedi-vim
	url = https://github.com/davidhalter/jedi-vim.git
[submodule "vim/.vim/pack/ide/start/ultisnips"]
	path = vim/.vim/pack/ide/start/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule "vim/.vim/pack/ide/start/vim-snippets"]
	path = vim/.vim/pack/ide/start/vim-snippets
	url = https://github.com/honza/vim-snippets.git
[submodule "vim/.vim/pack/ide/start/vim-fugitive"]
	path = vim/.vim/pack/ide/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/.vim/pack/ide/start/vim-polyglot"]
	path = vim/.vim/pack/ide/start/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot.git
[submodule "vim/.vim/pack/ide/start/vim-gutentags"]
	path = vim/.vim/pack/ide/start/vim-gutentags
	url = https://github.com/ludovicchabant/vim-gutentags.git
[submodule "vim/.vim/pack/ide/start/vim-gitgutter"]
	path = vim/.vim/pack/ide/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "vim/.vim/pack/utility/start/ctrlp.vim"]
	path = vim/.vim/pack/utility/start/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
